**CAR PRICE PREDICTION**

**Importing libraries**

In [99]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

**open csv file and seprate features and lables**

In [100]:
df= pd.read_csv("/content/Car details v3.csv")

print(df)
print(df.columns)

                              name  year  ...                     torque  seats
0           Maruti Swift Dzire VDI  2014  ...             190Nm@ 2000rpm    5.0
1     Skoda Rapid 1.5 TDI Ambition  2014  ...        250Nm@ 1500-2500rpm    5.0
2         Honda City 2017-2020 EXi  2006  ...      12.7@ 2,700(kgm@ rpm)    5.0
3        Hyundai i20 Sportz Diesel  2010  ...   22.4 kgm at 1750-2750rpm    5.0
4           Maruti Swift VXI BSIII  2007  ...      11.5@ 4,500(kgm@ rpm)    5.0
...                            ...   ...  ...                        ...    ...
8123             Hyundai i20 Magna  2013  ...           113.7Nm@ 4000rpm    5.0
8124         Hyundai Verna CRDi SX  2007  ...  24@ 1,900-2,750(kgm@ rpm)    5.0
8125        Maruti Swift Dzire ZDi  2009  ...             190Nm@ 2000rpm    5.0
8126               Tata Indigo CR4  2013  ...        140Nm@ 1800-3000rpm    5.0
8127               Tata Indigo CR4  2013  ...        140Nm@ 1800-3000rpm    5.0

[8128 rows x 13 columns]
Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

**Data Preprocessing**

In [ ]:
#preprocessing 

# remove rows whose mileage in km/kg 
for i in range(len(df)):
  if str(df.loc[i,'mileage']).endswith("km/kg"):
    df.loc[i,'mileage']=np.nan

#remove rows with null values    
df = df.dropna()

#removing spaces and units from data

df['year']=2021-df['year']
df['mileage'] = df['mileage'].str.slice(0, -5)
df['mileage'] = df['mileage'].str.strip()
df['engine'] = df['engine'].str.slice(0, -2)
df['engine'] = df['engine'].str.strip()
df['max_power'] = df['max_power'].str.slice(0, -3)
df['max_power'] = df['max_power'].str.strip()
df['max_power']=pd.to_numeric(df['max_power'])
df['engine']= pd.to_numeric(df['engine'])
df['mileage'] = pd.to_numeric(df['mileage'])

**Seprating features and lable**

In [102]:
X= df.iloc[:,[1,3,4,5,6,7,8,9,10,12]].values
Y= df.iloc[:,2].values
Y = Y.reshape(-1,1)
print(X[0])
print()
print(Y)

[7 145500 'Diesel' 'Individual' 'Manual' 'First Owner' 23.4 1248 74.0 5.0]

[[450000]
 [370000]
 [158000]
 ...
 [382000]
 [290000]
 [290000]]

**perform encoding ie to convert all to numerical data**

In [103]:
le2 = LabelEncoder()
X[:,2] =  le2.fit_transform(X[:,2])
le3 = LabelEncoder()
X[:,3] =  le3.fit_transform(X[:,3])
le4 = LabelEncoder()
X[:,4] =  le4.fit_transform(X[:,4])
le5 = LabelEncoder()
X[:,5] =  le5.fit_transform(X[:,5])

print(X[0,:])

[7 145500 0 1 1 0 23.4 1248 74.0 5.0]

**feature scaling**

In [104]:
sc= StandardScaler()
X = sc.fit_transform(X)
Y = sc.fit_transform(Y)
print(X)

[[-0.00251484  1.34295586 -0.90487296 ... -0.42624019 -0.50143475
  -0.43755227]
 [-0.00251484  0.89456636 -0.90487296 ...  0.06917899  0.3238882
  -0.43755227]
 [ 2.06733151  1.2462444   1.10512751 ...  0.06719732 -0.38960238
  -0.43755227]
 ...
 [ 1.29113913  0.89456636 -0.90487296 ... -0.42624019 -0.50423056
  -0.43755227]
 [ 0.25621595 -0.77590432 -0.90487296 ... -0.13295203 -0.61326713
  -0.43755227]
 [ 0.25621595 -0.77590432 -0.90487296 ... -0.13295203 -0.61326713
  -0.43755227]]

**splitting test and train data**

In [105]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.20)

**training linear regression model**

In [106]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
y_pred=model.predict(X_test)

**analyse linear model**

In [107]:
print(model.score(X_test,Y_test))

0.6923876461002327